@page "{passwordId:int}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Password Page!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Password.Name ?
</div>

<form method="post">
    <button type="submit" class=" btn btn-danger">Yes</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
