@page
@model ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>

    </div>
</form>

<table class="table">
    @foreach(var password in Model.passwords)
    {
    <tr>
        <td>@password.Name</td>
        <td>@password.Passphrase</td>
        <td>
            <a class="btn btn-lg"
               asp-page=".\Detail" asp-route-passwordId="@password.Id">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>
        </td>
    </tr>
    }
</table>